{% extends "shop/base.html" %}

{% block title %}Профиль продавца{% endblock  %}

{% block content %}
<div class="container py-2">
    <div class="grid p-10 grid-cols-1 lg:grid-cols-3 sm:grid-cols-1">
        <div class="rounded shadow-lg">
            <div>
                {% if user.profile.image %}
                    <img class="h-40 w-100" src="{{ seller.profile.image.url }}" alt="">
                {% endif %}
            </div>
            <h1 class="text-xl font-bold m-2">{{ seller.username }}</h1>
        </div>
    </div>
</div>

{% endblock content %}